// Tidepool - MIT License
$tc-bg: #002934;
$tc-bg-alt: #001D24;
$tc-bg-deep: #00151A;
$tc-paper: #012934;
$tc-border: #0A4958;
$tc-fg: #93A1A1;
$tc-muted: #798B8D;
$tc-faint: #5B7378;
$tc-accent: #268BD2;
$tc-accent-deep: #268BD2;
$tc-highlight: #FFCE1B;
$tc-selection: #0C4867;
$tc-red: #E76E72;
$tc-green: #58E4BA;
$tc-yellow: #E4B558;
$tc-blue: #6196E5;
$tc-magenta: #E76AA8;
$tc-cyan: #58CDE4;
$tc-orange: #E17F47;
$tc-error: #EF8F92;
$tc-warning: #E17F47;
$tc-success: #58E4BA;
