// Fluffy Sky - MIT License
$tc-bg: #332445;
$tc-bg-alt: #2B1E3E;
$tc-bg-deep: #1F162D;
$tc-paper: #423159;
$tc-border: #513C6E;
$tc-fg: #FFF0F5;
$tc-muted: #DACBD5;
$tc-faint: #B1A2B2;
$tc-accent: #FF69B4;
$tc-accent-deep: #FF80AB;
$tc-highlight: #FFCE1B;
$tc-selection: #743A69;
$tc-red: #F4909D;
$tc-green: #A2F6CF;
$tc-yellow: #F6E0A2;
$tc-blue: #90BBF4;
$tc-magenta: #F490F1;
$tc-cyan: #A2F0F6;
$tc-orange: #F4B190;
$tc-error: #F9B4BD;
$tc-warning: #F4B190;
$tc-success: #A2F6CF;
