// Textce - MIT License
$tc-bg: #323232;
$tc-bg-alt: #3C3C3D;
$tc-bg-deep: #232323;
$tc-paper: #232323;
$tc-border: #434343;
$tc-fg: #D9D9D9;
$tc-muted: #B0B0B0;
$tc-faint: #999999;
$tc-accent: #A7A7A7;
$tc-accent-deep: #58AEF3;
$tc-highlight: #FAAC1C;
$tc-selection: #494949;
$tc-red: #F37571;
$tc-green: #3BD862;
$tc-yellow: #FAAC1C;
$tc-blue: #58AEF3;
$tc-magenta: #C67EF1;
$tc-cyan: #35C2B0;
$tc-orange: #F08A3C;
$tc-error: #F37571;
$tc-warning: #FAAC1C;
$tc-success: #3BD862;
